.message {
 margin-top: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
}

.imageAndText img {
    width: 60px;
}

.text {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 20px;
    padding: 10px;
    background-color: #0066cc;
    border-radius: 10px;
    font-size: 18px;
}

.text:after {

}

.name {
    font-weight:bold;
    color: white;
}

.messageText {
    color: white;
}

.time {
    display: flex;
    justify-content: right;
    margin-right: 80px;
}