.button {
    width: 70px;
    height: 30px;
}

.disabled {
    background: lightgrey;
}

.secondary {
    background: #0066cc;
}

.default {
}

.red {
    background: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {

}
